In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
#!ls "/content/drive/My Drive/clef2025-checkthat-lab-main-task4-subtask_4b/task4/subtask_4b"

In [3]:
# import os

# project_path = "/content/drive/My Drive/clef2025-checkthat-lab-main-task4-subtask_4b/task4/subtask_4b"
# os.chdir(project_path)

# Getting started

### CLEF 2025 - CheckThat! Lab  - Task 4 Scientific Web Discourse - Subtask 4b (Scientific Claim Source Retrieval)

This notebook enables participants of subtask 4b to quickly get started. It includes the following:
- Code to upload data, including:
    - code to upload the collection set (CORD-19 academic papers' metadata)
    - code to upload the query set (tweets with implicit references to CORD-19 papers)
- Code to run a baseline retrieval model (BM25)
- Code to evaluate the baseline model

Participants are free to use this notebook and add their own models for the competition.

# 1) Importing data

In [4]:
import numpy as np
import pandas as pd

## 1.a) Import the collection set
The collection set contains metadata of CORD-19 academic papers.

The preprocessed and filtered CORD-19 dataset is available on the Gitlab repository here: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b

Participants should first download the file then upload it on the Google Colab session with the following steps.

In [5]:
# 1) Download the collection set from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_COLLECTION_DATA = 'subtask4b_collection_data.pkl' #MODIFY PATH

In [6]:
df_collection = pd.read_pickle(PATH_COLLECTION_DATA)

In [7]:
df_collection.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7718 entries, 162 to 1056448
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cord_uid          7718 non-null   object
 1   source_x          7718 non-null   object
 2   title             7718 non-null   object
 3   doi               7677 non-null   object
 4   pmcid             4959 non-null   object
 5   pubmed_id         6233 non-null   object
 6   license           7718 non-null   object
 7   abstract          7718 non-null   object
 8   publish_time      7715 non-null   object
 9   authors           7674 non-null   object
 10  journal           6668 non-null   object
 11  mag_id            0 non-null      float64
 12  who_covidence_id  528 non-null    object
 13  arxiv_id          20 non-null     object
 14  label             7718 non-null   object
 15  time              7715 non-null   datetime64[ns]
 16  timet             7718 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 1.1+ MB

In [8]:
df_collection.head()

,cord_uid,source_x,title,doi,pmcid,pubmed_id,license,abstract,publish_time,authors,journal,mag_id,who_covidence_id,arxiv_id,label,time,timet
162,umvrwgaw,PMC,Professional and Home-Made Face Masks Reduce E...,10.1371/journal.pone.0002618,PMC2440799,18612429,cc-by,BACKGROUND: Governments are preparing for a po...,2008-07-09,"van der Sande, Marianne; Teunis, Peter; Sabel,...",PLoS One,NaN,NaN,NaN,umvrwgaw,2008-07-09,1215561600
611,spiud6ok,PMC,The Failure of R (0),10.1155/2011/527610,PMC3157160,21860658,cc-by,"The basic reproductive ratio, R (0), is one of...",2011-08-16,"Li, Jing; Blakeley, Daniel; Smith?, Robert J.",Comput Math Methods Med,NaN,NaN,NaN,spiud6ok,2011-08-16,1313452800
918,aclzp3iy,PMC,Pulmonary sequelae in a patient recovered from...,10.4103/0970-2113.99118,PMC3424870,22919170,cc-by-nc-sa,The pandemic of swine flu (H1N1) influenza spr...,2012,"Singh, Virendra; Sharma, Bharat Bhushan; Patel...",Lung India,NaN,NaN,NaN,aclzp3iy,2012-01-01,1325376000
993,ycxyn2a2,PMC,What was the primary mode of smallpox transmis...,10.3389/fcimb.2012.00150,PMC3509329,23226686,cc-by,The mode of infection transmission has profoun...,2012-11-29,"Milton, Donald K.",Front Cell Infect Microbiol,NaN,NaN,NaN,ycxyn2a2,2012-11-29,1354147200
1053,zxe95qy9,PMC,"Lessons from the History of Quarantine, from P...",10.3201/eid1902.120312,PMC3559034,23343512,no-cc,"In the new millennium, the centuries-old strat...",2013-02-03,"Tognotti, Eugenia",Emerg Infect Dis,NaN,NaN,NaN,zxe95qy9,2013-02-03,1359849600

## 1.b) Import the query set

The query set contains tweets with implicit references to academic papers from the collection set.

The preprocessed query set is available on the Gitlab repository here: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b

Participants should first download the file then upload it on the Google Colab session with the following steps.

In [9]:
# 1) Download the query tweets from the Gitlab repository: https://gitlab.com/checkthat_lab/clef2025-checkthat-lab/-/tree/main/task4/subtask_4b?ref_type=heads
# 2) Drag and drop the downloaded file to the "Files" section (left vertical menu on Colab)
# 3) Modify the path to your local file path
PATH_QUERY_TRAIN_DATA = 'subtask4b_query_tweets_train.tsv' #MODIFY PATH
PATH_QUERY_DEV_DATA = 'subtask4b_query_tweets_dev.tsv' #MODIFY PATH

In [10]:
df_query_train = pd.read_csv(PATH_QUERY_TRAIN_DATA, sep = '\t')
df_query_dev = pd.read_csv(PATH_QUERY_DEV_DATA, sep = '\t')

In [11]:
df_query_train.head()

   post_id                                         tweet_text  cord_uid
0        0  Oral care in rehabilitation medicine: oral vul...  htlvpvz5
1        1  this study isn't receiving sufficient attentio...  4kfl29ul
2        2  thanks, xi jinping. a reminder that this study...  jtwb17u8
3        3  Taiwan - a population of 23 million has had ju...  0w9k8iy1
4        4  Obtaining a diagnosis of autism in lower incom...  tiqksd69

In [12]:
df_query_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12853 entries, 0 to 12852
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   post_id     12853 non-null  int64
 1   tweet_text  12853 non-null  object
 2   cord_uid    12853 non-null  object
dtypes: int64(1), object(2)
memory usage: 301.4+ KB

In [13]:
df_query_dev.head()

   post_id                                         tweet_text  cord_uid
0       16  covid recovery: this study from the usa reveal...  3qvh482o
1       69  "Among 139 clients exposed to two symptomatic ...  r58aohnu
2       73  I recall early on reading that researchers who...  sts48u9i
3       93  You know you're credible when NIH website has ...  3sr2exq9
4       96  Resistance to antifungal medications is a grow...  ybwwmyqy

In [14]:
df_query_dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   post_id     1400 non-null   int64
 1   tweet_text  1400 non-null   object
 2   cord_uid    1400 non-null   object
dtypes: int64(1), object(2)
memory usage: 32.9+ KB

# 2) Running the baseline
The following code runs a BM25 baseline.

In [15]:
!pip install rank_bm25
from rank_bm25 import BM25Okapi

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: rank_bm25 in c:\users\gold mobile\appdata\roaming\python\python311\site-packages (0.2.2)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from rank_bm25) (1.26.4)

In [16]:
# Create the BM25 corpus
corpus = df_collection[:][['title', 'abstract']].apply(lambda x: f"{x['title']} {x['abstract']}", axis=1).tolist()
cord_uids = df_collection[:]['cord_uid'].tolist()
tokenized_corpus = [doc.split(' ') for doc in corpus]
bm25 = BM25Okapi(tokenized_corpus)

In [17]:
def get_top_cord_uids(query):
  text2bm25top = {}
  if query in text2bm25top.keys():
      return text2bm25top[query]
  else:
      tokenized_query = query.split(' ')
      doc_scores = bm25.get_scores(tokenized_query)
      indices = np.argsort(-doc_scores)[:5]
      bm25_topk = [cord_uids[x] for x in indices]

      text2bm25top[query] = bm25_topk
      return bm25_topk

In [18]:
# Retrieve topk candidates using the BM25 model
df_query_train['bm25_topk'] = df_query_train['tweet_text'].apply(lambda x: get_top_cord_uids(x))
df_query_dev['bm25_topk'] = df_query_dev['tweet_text'].apply(lambda x: get_top_cord_uids(x))

# 3) Evaluating the baseline
The following code evaluates the BM25 retrieval baseline on the query set using the Mean Reciprocal Rank score (MRR@5).

In [19]:
# Evaluate retrieved candidates using MRR@k
def get_performance_mrr(data, col_gold, col_pred, list_k = [1, 5, 10]):
    d_performance = {}
    for k in list_k:
        data["in_topx"] = data.apply(lambda x: (1/([i for i in x[col_pred][:k]].index(x[col_gold]) + 1) if x[col_gold] in [i for i in x[col_pred][:k]] else 0), axis=1)
        #performances.append(data["in_topx"].mean())
        d_performance[k] = data["in_topx"].mean()
    return d_performance

In [20]:
results_train = get_performance_mrr(df_query_train, 'cord_uid', 'bm25_topk')
results_dev = get_performance_mrr(df_query_dev, 'cord_uid', 'bm25_topk')
# Printed MRR@k results in the following format: {k: MRR@k}
print(f"Results on the train set: {results_train}")
print(f"Results on the dev set: {results_dev}")

Results on the train set: {1: 0.5079747918773827, 5: 0.5508999196037242, 10: 0.5508999196037242}
Results on the dev set: {1: 0.505, 5: 0.5520357142857142, 10: 0.5520357142857142}

# 4) Exporting results to prepare the submission on Codalab

In [21]:
#df_query_dev['preds'] = df_query_dev['bm25_topk'].apply(lambda x: x[:5])

In [22]:
#df_query_dev[['post_id', 'preds']].to_csv('predictions.tsv', index=None, sep='\t')

# **Part 1: Traditional IR Model (BM25) (Doni)**

In [23]:
# def mrr_at_5(df):
#     reciprocal_ranks = []
#     for _, row in df.iterrows():
#         true_uid = row['cord_uid']
#         preds = row['bm25_topk'][:5]  # top 5 predicted cord_uids
#         if true_uid in preds:
#             rank = preds.index(true_uid) + 1
#             reciprocal_ranks.append(1/rank)
#         else:
#             reciprocal_ranks.append(0)
#     return sum(reciprocal_ranks) / len(reciprocal_ranks)

# score = mrr_at_5(df_query_dev)
# print(f'MRR@5: {score:.4f}')

In [24]:
# df_query_test = pd.read_csv('subtask4b_query_tweets_test.tsv', sep='\t')

In [25]:
# # Run BM25 on test set
# df_query_test['bm25_topk'] = df_query_test['tweet_text'].apply(lambda x: get_top_cord_uids(x))

# # Format submission
# df_submission = df_query_test[['post_id', 'bm25_topk']].copy()
# df_submission.rename(columns={'bm25_topk': 'preds'}, inplace=True)

# # Convert list of predictions to string format required in submission
# df_submission['preds'] = df_submission['preds'].apply(lambda preds: str(preds[:5]))

# # Save to TSV file
# df_submission.to_csv('bm25_submission.tsv', sep='\t', index=False)

In [26]:
# import nltk
# nltk.download('punkt')
# nltk.download('punkt_tab')

# from nltk.tokenize import word_tokenize

In [27]:
# from rank_bm25 import BM25Okapi
# import nltk
# nltk.download('punkt')
# from nltk.tokenize import word_tokenize

# # 1. Create combined document text for each paper (title + abstract)
# df_collection['combined_text'] = (df_collection['title'] + ' ' + df_collection['abstract']).fillna('')

# # 2. Tokenize combined documents for BM25
# corpus = df_collection['combined_text'].apply(word_tokenize).tolist()

# # 3. Build BM25 index on combined corpus
# bm25 = BM25Okapi(corpus)

# # Define a retrieval function using this new BM25
# def get_top_cord_uids(query, topk=5):
#     tokenized_query = word_tokenize(query)
#     scores = bm25.get_scores(tokenized_query)
#     top_indices = scores.argsort()[-topk:][::-1]
#     top_cord_uids = df_collection.iloc[top_indices]['cord_uid'].tolist()
#     return top_cord_uids

# # 4. Run BM25 retrieval on the test queries (load test queries first)
# df_query_test = pd.read_csv('subtask4b_query_tweets_test.tsv', sep='\t')

# df_query_test['bm25_topk'] = df_query_test['tweet_text'].apply(lambda x: get_top_cord_uids(x))

# # 5. Prepare submission file
# df_submission = df_query_test[['post_id', 'bm25_topk']].copy()
# df_submission.rename(columns={'bm25_topk': 'preds'}, inplace=True)
# df_submission['preds'] = df_submission['preds'].apply(lambda preds: str(preds[:5]))
# df_submission.to_csv('bm25_improved_submission.tsv', sep='\t', index=False)

In [28]:
#New version, had to adjust due to missing the CLEF deadline.

from sklearn.model_selection import train_test_split
import nltk
nltk.download('punkt')
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize
from rank_bm25 import BM25Okapi

# 1. Combine and clean training + dev queries
df_query_train["split_origin"] = "train"
df_query_dev["split_origin"] = "dev"
df_all_queries = pd.concat([df_query_train, df_query_dev], ignore_index=True)
df_all_queries = df_all_queries.drop_duplicates(subset=["tweet_text"])

# 2. Split into new train/test sets (80/20)
df_train_split, df_test_split = train_test_split(
    df_all_queries, test_size=0.2, random_state=42
)

# 3. Build BM25 index on document collection
df_collection['combined_text'] = (df_collection['title'] + ' ' + df_collection['abstract']).fillna('')
corpus = df_collection['combined_text'].apply(word_tokenize).tolist()
bm25 = BM25Okapi(corpus)

# 4. Define BM25 retrieval function
def get_top_cord_uids(query, topk=5):
    tokenized_query = word_tokenize(query)
    scores = bm25.get_scores(tokenized_query)
    top_indices = scores.argsort()[-topk:][::-1]
    return df_collection.iloc[top_indices]['cord_uid'].tolist()

# 5. Run BM25 on test set
df_test_split['bm25_topk'] = df_test_split['tweet_text'].apply(lambda x: get_top_cord_uids(x))

# 6. Evaluate MRR@5 using your own function
def mrr_at_5(df):
    reciprocal_ranks = []
    for _, row in df.iterrows():
        true_uid = row['cord_uid']
        preds = row['bm25_topk'][:5]
        if true_uid in preds:
            rank = preds.index(true_uid) + 1
            reciprocal_ranks.append(1 / rank)
        else:
            reciprocal_ranks.append(0)
    return sum(reciprocal_ranks) / len(reciprocal_ranks)

score = mrr_at_5(df_test_split)
print(f'MRR@5 (local test split): {score:.4f}')

[nltk_data] Downloading package punkt to C:\Users\GOLD
[nltk_data]     Mobile\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to C:\Users\GOLD
[nltk_data]     Mobile\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

MRR@5 (local test split): 0.5460

In [42]:
#df_query_dev.bm25_topk[1]

# **Part 2: Neural IR Model (Dense Retriever using Sentence-BERT) (Fisi/Rina)**

# **Part 3: Neural Re-Ranker (Re-ranking top 20 BM25 candidates using BERT) (Arditi/Rita)**